[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/graycarl/docker-images-ubuntu.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/graycarl/docker-images-nginx.git
[submodule "pptp"]
	path = pptp
	url = https://github.com/graycarl/docker-images-pptp.git
[submodule "python"]
	path = python
	url = https://github.com/graycarl/docker-images-python.git
[submodule "shadowsocks"]
	path = shadowsocks
	url = https://github.com/graycarl/docker-images-shadowsocks.git
[submodule "tinyproxy"]
	path = tinyproxy
	url = https://github.com/graycarl/docker-images-tinyproxy.git
[submodule "runit"]
	path = runit
	url = https://github.com/graycarl/docker-images-runit.git
[submodule "psnwiki"]
	path = psnwiki
	url = https://github.com/graycarl/docker-images-psnwiki.git
