[submodule "ubuntu"]
	path = ubuntu
	url = https://github.com/graycarl/docker-images-ubuntu.git
[submodule "shadowsocks"]
	path = shadowsocks
	url = https://github.com/graycarl/docker-images-shadowsocks.git
[submodule "tinyproxy"]
	path = tinyproxy
	url = https://github.com/graycarl/docker-images-tinyproxy.git
[submodule "runit"]
	path = runit
	url = https://github.com/graycarl/docker-images-runit.git
